<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Editors</title>
    <script src="/scripts/editors.js" defer> </script>
    <link rel="stylesheet" href="/picocss/pico.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><strong>Editor List</strong></li>
        </ul>
        <ul>
            <li>
                <a href="/editors">Editors</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <header class="container">
        <hgroup>
            <h1>Editors</h1>
            <p>Find the right one for you</p>
        </hgroup>
    </header>
    <div class="content container">
    </div>
</body>

</html>
